*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(5, 5, 5) ;
    text-align: center;
    
}
h1{
    color: rgb(255, 0, 13);
}
.mode{
    color: rgb(32, 11, 11);
    
    display:flex;
    
    justify-content:end;
    

}
#mode{
    border-radius: 40%;
}

.container{
    height:70vh;
   
    display:flex;
    
    justify-content: center;
    align-items: center;
   
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(232, 7, 7, 0.3);
    font-size: 8vmin;
    color:rgb(10, 10, 10);
    background-color: rgb(246, 12, 12);
    

}
#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: rgb(246, 52, 4);
    color:rgb(16, 16, 16);
    border-radius: 1rem;
    border:none;
}
#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: rgb(249, 9, 29);
    color:rgb(13, 13, 13);
    border-radius: 1rem;
    border:none;
}
#msg{
    color: rgb(249, 33, 9);
    font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
   display:none; 
}
.box:hover{
    /* background-color: rgb(200, 60, 102); */
    opacity: 40%;
}